body {
  padding: 100px 100px 0 100px;
  margin: 0;
  background-color: #498cec;
}

.city-search {
  display: flex;
  justify-content: space-between;
  width: 579px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 30px;
  margin-right: 0;
}

.city,
.search-btn {
  outline: 0;
  border: 0;
  font-size: 30px;
}

.search-btn {
  color: #1086FF;
  background-color: #ffffff;
}

.city {
  width: 500px;
}

.main-info {
  text-align: center;
  padding-top: 50px;
  background-color: #498cec;
  color: white;
}

.main-info h1 {
  margin-left: 50%;
  width: 200px;
  margin-bottom: 0;
  font-size: 100pt;
}

.main-info h2 {
  margin-top: 0;
  font-size: 25px;
}

.additional-item {
  padding-top: 15%;
  display: flex;
  justify-content: space-around;
}

.additional-item h1 {
  font-size: 18px;
  color: #92BAF4;
}

.additional-item h2 {
  color: white;
  font-size: 25px;
}

.temperature {
  color: #92BAF4;
  font-size: 15pt;
  text-align: center;
  float: right;
  padding-right: 5%;
}

img {
  margin-top: 6%;
  margin-left: 40%;
  float: left;
}

.temperature {
  display: flex;
}

.temperature h1 {
  font-size: 20px;
  margin: 0 5px;
}

.temperature input {
  outline: 0;
  font-size: 20px;
  background-color: #498cec;
  color: #92BAF4;
}

#C {
  border: 1px solid #92BAF4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}

#F {
  border: 1px solid #92BAF4;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
